{% extends 'base.html.twig' %}

{% block body %}
    <div class="picture-container"
         style="
                 width:{{ page.pictureDimensions.0 }}px;
                 height:{{ page.pictureDimensions.1 }}px;
         ">
        {% for piece in page.pieces %}
            <div class="piece"
                 style="
                         width:{{ piece.width }}px;
                         height:{{ piece.height }}px;
                         top:{{ piece.topPos }}px;
                         left:{{ piece.leftPos }}px;
                 "
                 data-id="{{ piece.id }}"
            >
                {% if piece.revealed %}
                    <img src="{{ path('show_piece', {'piece': piece.id}) }}"
                         alt="{{ piece.filename }}"
                    >
                {% else %}
                    <div class="unrevealed"
                         data-url="{{ path('click_on_piece', {'piece': piece.id}) }}"
                    >
                        <div class="nb-click">
                            <span class="count">{{ piece.nbClickToReveal }}</span> <i class="fas fa-hand-pointer"></i>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
