{% extends 'base.html.twig' %}

{% block body %}
    <div class="picture-container">
        {% for piece in page.pieces %}
            <div class="piece"
                 style="
                         width:{{ piece.width }}px;
                         height:{{ piece.height }}px;
                         top:{{ piece.topPos }}px;
                         left:{{ piece.leftPos }}px;
                 "
            >
                {% if piece.revealed %}
                    <img src="{{ path('image_show', {'slug': page.slug, 'name': piece.filename}) }}"
                         alt="{{ piece.filename }}"
                    >
                {% else %}
                    <div class="unrevealed"
                         data-url="{{ path('click_on_piece', {'piece': piece.id}) }}"
                         data-id="{{ piece.id }}"
                    >
                        <div class="nb-click">
                            <span class="count">{{ piece.nbClickToReveal }}</span> click left
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
