{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {{ page.viewCount }}
    </div>
    <div class="picture-container">
        {% for piece in page.pieces if piece.revealed %}
            <img src="{{ path('image_show', {'slug': page.slug, 'name': piece.filename}) }}"
                 alt="{{ piece.filename }}"
                 class="piece"
                 style="top:{{ piece.topPos }}px;left:{{ piece.leftPos }}px;"
            >
        {% endfor %}
    </div>
{% endblock %}
